html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lucida Grande", Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

.main-container {
    width: 100%;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#logo-container {
    width: 280px;
    height: 166px;
    padding-top: 10px;
}

#logo-container img.logo {
    width: 100%;
    text-align: center;
}

#dropzone-container {
    width: 280px;
    height: 166px;
    align-self: center;
    overflow: hidden;
    z-index: 999;
}

.search-container {
    position: relative;
}

#dropzone {
    width: 280px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #FFB196;
    background: linear-gradient(-180deg, #FFF8EE 0%, #FFFCF9 100%);
    margin-top: 20px;
}

#dropzone .marco-rayado {
    width: 88%;
    height: 78%;
    border-radius: 4px;
    border: 2px dashed #FFB196;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropzone-container .marco-rayado p {
    color: #FB4C0F;
    font-size: 1.2em;
    width: 80%;
    text-align: center;

}

.toolbar-container {
    height: 77px;
    /* height: 107px; */
    background: linear-gradient(-180deg, #424242 0%, #4B4B4B 100%);
    width: 100%;
}

.options-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 13px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-container input[type="text"]#search-text-field {
    width: 280px;
    height: 36px;
    border-radius: 4px;
    font-size: 1em;
    font-family: inherit;
    margin: 20px 20px 0 20px;
    padding-left: 14px;
    border: 1px solid transparent;
    transition: .15s all;
}

.form-container input[type="text"]#search-text-field:focus {
    outline: none;
    border: 1px solid #FFAE6D;
    box-shadow: 0 0 5px #FFAE6D;
}

.form-container .wrapper {
    width: 320px;
}

.icon-search {
    position: absolute;
    height: 16px;
    left: 16px;
    top: 10px;
}

#search-button {
    position: absolute;
    top: 21px;
    right: 21px;
    width: 50px;
    height: 34px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #DCDCDC;
    cursor: pointer;
    transition: .05s all;
}

#search-button:hover {
    background: #CCCCCC;
}

#search-button:active {
        background: #BBBBBB;
}

.more-options-container,
.help-container {
    display: flex;
    /* position: absolute; */
    top: 72px;
    cursor: pointer;
}

.help-container {
    width: 65px;
}

.more-options-container p,
.help-container p {
    margin-top: 3px;
    margin-left: 10px;
    color: white;
    font-size: .8em;
}

.icon-more-options,
.icon-help {
    height: 22px;
}

#results-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(290px, 1fr) );
    grid-gap: 15px 15px;
    padding: 0 15px 0 15px;
    position: relative;
    top: 260px;
    margin-bottom: 20px;
    background: white;;
}

#controls-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: #f5f5f5    ;
    position: fixed;
    top: 0;
    z-index: 9;
    box-shadow: 0 1px 6px 0 #333333BB;
    background: #f5f5f5;
}

.card {
    position: relative;
    width: 290px;
    height: 160px;
    /* margin: 14px 7px 0 7px; */
    overflow: hidden;
    justify-self: center;
    background-image: linear-gradient(-180deg, #FEFAF4 0%, #FFFCF9 100%);
    border: 1px solid #DECBC5;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s all;
}


.card:hover {
    border: 1px solid #EC6739;
    background-image: linear-gradient(-180deg, #FFF0D8 0%, #FFFCF9 100%);
    box-shadow: 0 -6px 12px 0 rgba(136,136,136,0.30);
}

.card .duration-container {
    position: relative;
    float: right;
    top: 4px;
    right: 6px;
    width: 210px;
    /* height: 25px; */
    margin-left: 80px;
}

.card .duration-container:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.card .duration-container a.duration {
    padding: .2rem .25rem;
    float: right;
    border-radius: 4px;
    /* background: #6C6C6C; */
    font-size: .8rem;
    color: #383838;
    text-decoration: none;
}

.card .duration-container a.duration:after, { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.card .genre-container {
    position: relative;
    float: right;
    top: 2px;
    right: 6px;
    width: 210px;
    height: 20px;
    margin-left: 80px;
    text-align: right;
}

.card .genre-container img.icon-genre {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.card .genre-container a.genre {
    padding: 0 .25rem;
    float: right;
    border-radius: 4px;
    /* background: #6C6C6C; */
    font-size: .8rem;
    color: #BBBBBB;
    text-decoration: none;
}

/* .card .date {
    position: absolute;
    display: inline;
    left: 20px;
    bottom: -15px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
} */

.card .date {
    margin-left: 80px;
    margin-right: 10px;
}

.card .date span {
    color: #BBBBBB;
    font-size: .8rem;
}

.card .name {
    margin-left: 80px;
    margin-right: 10px;
}

.card .name span {
    color: #2F2F2F;
    font-size: 1.2rem;
}

.card .author {
    margin-left: 80px;
    margin-bottom: 5px;
}

.card .author span {
    color: #666666;
    font-size: .9rem;
}

.card .picture-container {
    position: absolute;
    top: -17px;
    left: -15px;
    z-index: 2;
    /* cursor: pointer; */
}

.card .picture-container img.picture {
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 42%, rgba(0,0,0,.4) 100%);
}

.card .picture-container img.picture,
.card .picture-container img.player-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    transition: 0.1s opacity;
}

.card .picture-container.playing #pulse {
    width: 90px;
    height: 90px;
    background: #FD8322;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    animation:  pulse 2s linear infinite;
}

.card .description {
    margin-left: 80px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    height: 195px;
}

.card .description p {
    font-size: .8rem;
    color: #959595;
    /* -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 42%, rgba(0,0,0,.33) 100%); */
}




@keyframes pulse {
    0% {
        transform: scale(.6);
        opacity: 0;
    }
    50% {
        transform: scale(.6);
        opacity: 0;
    }
    60% {
        transform: scale(.75);
        opacity: .1;
    }
    80% {
        transform: scale(2);
        opacity: .3;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}